body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /* overflow: hidden; */
}

.popup {
    height: 85px;
    width: 200px;
    text-align: center;
}

.popupTitle {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    margin: 0;
}

.popupInfo {
    color: #008060;
    font-weight: 800;
    font-size: 12px;
    line-height: 10px;
    margin-top: 0;
    margin-bottom: 6px;
}

.popupButton {
    background: #000000;
    color: white;
    border-radius: 50px;
    font-size: 10px;
    font-weight: bold;
    border-style: none;
    width: 120px;
    height: 25px;
}

.popupButton:hover {
    cursor: pointer;
}

.infoCircleContainer {
    margin: auto;
    width: 100%;
    text-align: center;
}
.infoContainer {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.infoPanel {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 450px;
    background-color: white;
    color: black;
    text-align: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: 100px;
}

.infoCircle {
    z-index: 2;
    position: relative;
    background-color: black;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    bottom: 65px;
    margin: 0 auto;
}

.infoBar {
    z-index: 4;
    position: relative;
    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    width: 135px;
    height: 70px;
    bottom: 190px;
}

.info {
    z-index: 6;
    position: relative;
    color: white;
    margin: 0 auto;
    font-size: 15px;
    bottom: 175px;
    font-weight: bold;
    width: 60px;
}

.infoDistance {
    float: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #008060;
    line-height: 1.6;
    margin: 0;
}

.infoText {
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.7;
}

.nearestCansContainer {
    display: inline-flexbox;
}

.number {
    font-size: 30px !important;
}

.nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 50px;
    background: white;
}

.navInfoTitle {
    z-index: -1;
    display: inline-block;
    margin-right: auto;
    padding: 13px;
    height: 50%;
}

.navInfoImage {
    z-index: 10;
    margin-left: auto;
    float: right;
    padding: 13px;
    height: 50%;
}

.infoBarTest {
    position: absolute;
    width: 115px;
    height: 70px;
    left: 18px;
    bottom: 13px;

    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.infoBarTestTwo {
    position: absolute;
    width: 115px;
    height: 70px;
    right: 18px;
    bottom: 13px;

    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.trashIcon {
    position: absolute;
    height: 40px;
    width: 32px;
    bottom: 15px;
    left: 21px;
}

.recycleIcon {
    position: absolute;
    height: 50px;
    width: 41px;
    bottom: 6px;
    left: 18px;
}

.nearbyTrash {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    right: 21px;
    line-height: 1px;
}
